/*encabezado*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #4c692ac9 2px solid;
}
.menu-ul {
    display: flex;
    justify-content: flex-start;
}
ul li {
    list-style: none;
    border: solid 2px;
    border-bottom: solid 4px;
    color: #4c692ac9;
}

ul li:hover {
    background-color: #abec5667;
    border: 2px solid #b3ec68;
}

ul li a{
    color:#2d3f19;
    margin: 40px;
    padding: 10px;
    text-decoration: none;
}
/* ^ ENCABEZADO ^ */

/* Estilo base para la página */
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #2d3f19;
}

/* Contenedor principal */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr; /* Entradas ocupan más espacio que el logo */
    align-items: center;
    justify-content: center;
    gap: 5px; /* Espacio entre columnas */
    width: 80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #4c692ac9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(184, 235, 183, 0.1);
    background-color: #ffffff;

}

/* Estilo para las entradas */
.entradas p{
    margin: 10px 0;
}

.entradas label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2d3f19;
}

.entradas input {
    width: 90%;
    padding: 8px;
    border: 1px solid #d6f1b3;
    border-radius: 5px;
    font-size: 14px;
}
.tres-entrada p{
    margin: 10px 0;
}

.tres-entrada label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2d3f19;
}

.tres-entrada input {
    width: 90%;
    padding: 8px;
    border: 1px solid #d6f1b3;
    border-radius: 5px;
    font-size: 14px;
}

/* Botones */
.botones-acep-cancel {
    margin-top: 20px;
    display: flex;
    justify-content: right;
    gap: 10px; /* Espacio entre los botones */
}


.botones-acep-cancel button{
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.btn-cancelar {
    background-color: #f03c2fd8;
    color: #000000;
}

.btn-aceptar {
    background-color: #5fd841d8;
    color: #000000;
}

.btn-cancelar:hover {
    background-color: #d32f2f;
}

.btn-aceptar:hover {
    background-color: #388E3C;
}

.boton-agregar {
    border: 2px solid #b3ec68;
    background-color: #c9ee99;
    padding: 5px 10px; /* Espaciado interno (alto y ancho) */
    border: none; /* Quitar borde predeterminado */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilo cuando el usuario pasa el mouse sobre el botón */
.boton-agregar:hover {
    background-color: #abec5667;
    border: 2px solid #b3ec68;
}


/* Estilo para el logo */
.logo {
    max-width: 60%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.entradas{
    text-align: left; /* Alinea las entradas al borde izq */
    margin-right: 50px;
}


