
/*encabezado*/
/*encabezado*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #4c692ac9 2px solid;
}
.menu-ul {
    display: flex;
    justify-content: flex-start;
}
ul li {
    list-style: none;
    border: solid 2px;
    border-bottom: solid 4px;
    color: #4c692ac9;
}

ul li:hover {
    background-color: #abec5667;
    border: 2px solid #b3ec68;
}

ul li a{
    color:#2d3f19;
    margin: 40px;
    padding: 10px;
    text-decoration: none;
}
/* ^ ENCABEZADO ^ */

body {
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #ffffff; 
}

input, select {
    background-color: #e7e3e3; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #000000; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

.container {
    display: flex;
    justify-content: center;     /* Centra el contenido verticalmente */
    align-items: center;         /* Centra el contenido horizontalmente */
    grid-template-columns: auto auto auto; /* Tres columnas de igual tamaño */
    width: 70%; /* ancho */
    padding-top: px;
    margin: 0 auto;
    position: relative;
    gap: 200px
}
.botones-menu {
    display: flex;                 /* Activamos el modelo Flexbox */
    flex-direction: column;        /* Coloca los botones en una columna (uno encima del otro) */
    align-items: center;           /* Centra los botones horizontalmente dentro del contenedor */
    gap: 20px;                     /* Espacio entre los botones */
    margin-top: 20px;              /* Espacio superior para el contenedor, si es necesario */
}

button {
    width: 200px;
    height: 40px;
    border: 2px solid #b3ec68;
    background-color: #c9ee99;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;	
}

button:hover {
    background-color: #abec56;
    border: 2px solid #b3ec68;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2d3f19;
}
.logo {
    width: 400px;
    justify-self: center;
}