/*encabezado*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #4c692ac9 2px solid;
}
.menu-ul {
    display: flex;
    justify-content: flex-start;
}
ul li {
    list-style: none;
    border: solid 2px;
    border-bottom: solid 4px;
    color: #4c692ac9;
}

ul li:hover {
    background-color: #abec5667;
    border: 2px solid #b3ec68;
}

ul li a{
    color:#2d3f19;
    margin: 40px;
    padding: 10px;
    text-decoration: none;
}
/* ^ ENCABEZADO ^ */

/* Estilo base para la página */
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #2d3f19;
}

/* Contenedor principal */
.container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Entradas ocupan más espacio que el logo */
    align-items: center;
    justify-content: center;
    gap: 5px; /* Espacio entre columnas */
    width: 90%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #4c692ac9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(184, 235, 183, 0.1);
    background-color: #ffffff;

}
/* Estilo para el logo */
.logo {
    max-width: 70%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.icono-accion {
    width: 30px;
    height: 30px;
    cursor: pointer; /* Para mantener el puntero interactivo */
}


/* Botones */
.botones-acep-cancel {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.botones-acep-cancel {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cancelar {
    background-color: #f03c2fd8;
    color: #000000;
}

.btn-aceptar {
    background-color: #5fd841d8;
    color: #000000;
}

.btn-cancelar:hover {
    background-color: #d32f2f;
}

.btn-aceptar:hover {
    background-color: #388E3C;
}

.tabla button {
    width: 100px;
    height: 30px;
    border: 2px solid #b3ec68;
    background-color: #c9ee99;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;	
}
.izquierda {
    display: flex; /* Cambia 'left' por 'flex' para usar las propiedades de Flexbox */
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    width: 400px;
  }
  
  .izquierda .logo {
    margin: 0 auto; /* Esto asegura que la imagen esté centrada dentro de su contenedor */
  }
  
.busqueda {
    display: flex;
    flex-direction: column; /* Organiza los elementos de manera vertical */
    align-items: center;    /* Centra los elementos horizontalmente */
    margin-bottom: 20px;
  }
  
  .busqueda button {
    margin: 10px 0; /* Espacio entre los botones */
    padding: 10px 20px; /* Espaciado interno de los botones */
    font-size: 16px; /* Tamaño del texto */
    border: 1px solid #ccc; /* Borde de los botones */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #007bff; /* Fondo del botón */
    cursor: pointer; /* Cambia el puntero al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  }
  
  .busqueda button:hover {
    background-color: #0056b3; /* Color del fondo al hacer hover */
  }
  

  input[type="text"] {
    width: 100%; /* Hace que ocupe el ancho completo del contenedor */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de texto */
    background-color: #f9f9f9; /* Fondo del input */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    transition: border-color 0.3s ease; /* Transición suave para el cambio de borde */
  }
  
  input[type="text"]:focus {
    border-color: #007bff; /* Cambia el color del borde al hacer foco */
    outline: none; /* Elimina el borde por defecto al hacer foco */
  }
  
  input[type="text"]::placeholder {
    color: #888; /* Color del texto del placeholder */
    font-style: italic; /* Estilo en cursiva para el placeholder */
  }
  
  

.izquierda button {
    min-width: 50px; /* Establece un ancho mínimo, puedes ajustarlo según tus necesidades */
    padding: 10px;
    height: 40px;
    border: 2px solid #b3ec68;
    background-color: #c9ee99;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;	
    margin: 5px; /* agrega un margen al rededor*/
}

/* Estilo para la tabla */
.tabla {
    width: 100%; /* Ajustar al ancho del contenedor */
    border-collapse: collapse; /* Eliminar el espacio entre bordes */
    text-align: center; /* Centrar el texto en las celdas */
    width: 800px;
}

  /* Bordes para celdas */
.tabla th,
.tabla td {
    border: 1px solid #2d3f19; /* Bordes de las celdas */
    padding: 10px; /* Espaciado interno */
}
  /* Estilo para el encabezado */
.tabla thead tr th {
    background-color: #c9ee99; /* Color de fondo del encabezado */
    color: #2d3f19; /* Color del texto */
    font-weight: bold; /* Negrita */
}